h1 {
  color: black;
  text-align: center;
  margin: 30px auto;
}
.orcamento{
  color: #000;
}
.scrollview-container {
  margin: 0 auto 0 5px;
  width: 330px; /* Largura do contêiner */
  height: 100px; /* Altura máxima visível */
  border: 1px solid #ccc;
  overflow: auto; /* Habilita a rolagem */

}

/* Estilos para o conteúdo dentro do ScrollView */
.scrollview-content {
  
  width: 100%; /* Largura total */
  border: 1px solid #ccc;
  margin: 0 auto;
  text-align: left;
}
.btn {
  margin: 5px;
  padding: 1px;
  width: 40px;
  height: 25px;
  margin-right: 1px;
  border-radius: 4px;
}

.form-control {
  padding: 1px;
  margin: 5px;
  border-radius: 4px;
}

form {
  width: 330px;
  margin: 30px auto;
  text-align: center;
}

/* Estilos específicos para tabelas */
.table {
  max-width: 800px;
  margin: 0 auto;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 0px;
  font-size: 10px;
  font-weight: bold;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
  margin: 2px;
}
.trbtn{
  margin: 0 auto;
  border:1px solid #ddd;
}
.espaco{
 width:250px;

}
.maoObra{
  height: 20px;
  width: 150px;
  font-size: 20px bold;

}
.outros{
  height: 20px;
  width: 50px;
  font-size: 20px bold;

}
.tdinput{
  width: 150px;
  
}
.tdOutros{
  width: 70px;
  
}
.table thead th {
  border-bottom: 1px solid #333;
  background-color: #4f6cf9;
  color: #fff;
  font-weight: bold;
 
  text-align: center;

}
.total{
  text-align: left;
}

.centralizar {
  text-align: center;
  font-weight: bold;
}
.nomes{
  text-align: left;
}
.valores{
  text-align: right;
}
/* style.css */
.container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  margin: 20px auto;
  text-align: center; /* Centraliza o texto */
}

.content {
  max-width: 400px; /* Largura máxima do conteúdo */
}

.pdf{

background: #4f6cf9;
color: #fff;
height: 20px;
font-size: 12px;
text-align: center;
width: 150px;
}
/* style.css */

.logo {
  width: 200px; /* Largura desejada para a imagem */
  height: auto; /* A altura será ajustada automaticamente para manter a proporção */
  margin: 5px; /* Margem ao redor da imagem */
  border: 2px solid #333; /* Uma borda de exemplo */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
}

.btnHome{

  background: #4f6cf9;
  color: #fff;
  height: 30px;
  font-size: 12px;
  text-align: center;
  width: 100px;
  border-radius: 10px;
  }
td {
  vertical-align: middle;
  text-align: center;
}

.selecionar {
  margin: 5px;
  padding: 1px;
  width: 30px;
  height: 30px;
  margin-right: 1px;
  border-radius: 4px;
}

.options {
  list-style: none;
  padding: 0;
  text-align: left;
  margin: 0;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}
