/* TableClients.css */
/* Estilizando bordas da tabela */
.table {
    max-width: 800px; /* Ajuste a largura da tabela conforme necessário */
    margin: 0 auto; /* Centraliza a tabela horizontalmente */
  }
  
  /* Estilizando bordas das células */
  .table th,
  .table td {
    border: 1px solid #ddd; /* Define a espessura e a cor das bordas das células */
    padding: 0px; /* Adiciona espaço interno para o conteúdo das células */
    font-size: 11px;
    font-weight: bold;
  }
  
  /* Estilizando bordas das linhas do corpo da tabela */
  .table tbody tr {
    border-bottom: 1px solid#dddddd; /* Adiciona borda na parte inferior das linhas */
  }
  
  /* Estilizando bordas das linhas do cabeçalho */
  .table thead th {
    border-bottom: 1px solid #333; /* Bordas mais espessas para o cabeçalho */
    background-color: #4f6cf9; /* Cor de fundo do cabeçalho */
    color: #fff; /* Cor do texto do cabeçalho */
    font-weight: bold; /* Texto em negrito para o cabeçalho */
    border-radius: 4px;
    text-align: center;
  }
  .centralizar{
    text-align: center;
    font-weight: bold;
    
  }
  td {
    vertical-align: middle;
  
  }
  
  
  .selecionar{
    margin: 5px;
    padding: 1px;
    width: 30px;
    height: 30px;
    margin-right: 1px;
    border-radius: 4px;
  }
 
  .options {
    list-style: none;
    padding: 0;
    text-align: left;
    margin: 0;
    position: absolute;
    z-index: 1;
    background-color: #fff; /* Altere essa cor para a cor desejada (por exemplo, #ffffff para branco) */
    color: #000; /* Defina a cor do texto (por exemplo, #000000 para preto) */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
  }